<!DOCTYPE html>

	<html class="no-js" lang="en" xml:lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- this is only for responsive design to zoom 100%-->
	  <meta name="description" content="Great HTML5 Bootstrap template by ThemeStreet.Net">
	  <meta name="author" content="ThemeStreet.Net">
	 <!--  <link rel="stylesheet" href="css/bootstrap.css"> -->
	  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	  <!-- <script src="js/libs/modernizr-2.7.1.min.js"></script> -->

	  <link rel="icon" type="image/png" href="favicon.html" />
	  <title>AMS - Association Management System</title>
	   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

      <%= csrf_meta_tags %>


	</head>

	<body>
	<%= yield %>

   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    </body>
    </html>
















































